/* body{
    margin: 0%;
    height: 1190px;
}

.main-div{
    margin: 0% 0% 0% 0%;
    border: 5px black solid;
    box-sizing: border-box;
    height: 1190px;
    float: left;
    width: 100%;
    position: relative;
}

.header-div{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 5%;
    border: blue 2px solid;
    box-sizing: border-box;
    position: relative;
    overflow: auto;
}
.header-div h2{
    position: absolute;
     margin: 0%;
     top: 50%;
     transform: translate(0, -50%);
    background-color: coral;
}
.header-div p {
    position: absolute;
    margin: 0%;
    background-color: cornflowerblue;
   margin: 0%;
   top: 50%;
   left: 25%;
   font-size:1vw;
   transform: translate(0, -50%);
} */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body{
        margin: 0%;
        height: 1190px;
    }
    
    .main-div{
        margin: 0% 0% 0% 0%;
        box-sizing: border-box;
        height: 1190px;
        width: 100%;
    }
    
    .header-div{
        box-sizing: border-box;
    }
    .aminities-div{
        margin: 0%;
       width: 100%;
       padding-left: 15px;
       padding-right: 15px;
      
    }
    .header-div div h2{
        margin: 0 0 17px;
        font-size: 30px;
        color: #baa256;
        font-weight: 800;
        font-family: 'Abhaya Libre', serif;
    }
    .aminities-p{
        position: relative;
        width: 100%;
        margin: 0%;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
    }
    
    .aminities-p p {
        font-size: 16px;
        line-height: 23px;
        color: #6f6f6f;
        font-style: italic !important;
        -webkit-font-smoothing: antialiased;
        font-family: 'Roboto', sans-serif;
        text-align: left;
        margin-top: 0;
        margin-bottom: 1rem;
    }
}
