/* body{
    margin: 0%;
    height: 1190px;
}

.main-div{
    margin: 0% 0% 0% 0%;
    border: 5px black solid;
    box-sizing: border-box;
    height: 1190px;
    float: left;
    width: 100%;
    position: relative;
}

.header-div{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 5%;
    border: blue 2px solid;
    box-sizing: border-box;
    position: relative;
    overflow: auto;
}
.header-div h2{
    position: absolute;
     margin: 0%;
     top: 50%;
     transform: translate(0, -50%);
    background-color: coral;
}
.header-div p {
    position: absolute;
    margin: 0%;
    background-color: cornflowerblue;
   margin: 0%;
   top: 50%;
   left: 25%;
   font-size:1vw;
   transform: translate(0, -50%);
} */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body{
        margin: 0%;
        height: 1190px;
        font-family: 'Roboto', sans-serif;
        -webkit-font-smoothing: antialiased;
        -font-smoothing: antialiased;
    font-style: normal;
    font-size: 14px;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 24px;
    }
    .color-theme{
        color: #baa256;
    }
    .font-alt{
        font-family: 'Abhaya Libre', serif;
    }
    .font-w-700 {
        font-weight: 700;
    }
    .font-18 {
        font-size: 18px;
    }
    .font-italic {
        font-style: italic!important;
    }
    .line-height-20 {
        line-height: 20px;
    }
    .m-5px-b{
        margin-bottom:5px ;
    }
    .m-0px{
        margin: 0px;
    }
    .p-60px-tb{
        padding-top:60px ;
        padding-bottom: 60px;
    }
    .p-40px-lr {
        padding-left: 40px;
        padding-right: 40px;
    }
    .list-style-2 {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .list-style-2 li {
        position: relative;
        padding: 0 0 0 12px;
        margin: 0 0 9px 0;
    }
    .list-style-2 li:before {
        content: "";
        width: 5px;
        height: 1px;
        position: absolute;
        top: 12px;
        left: 0;
        background-color: #baa256;
    }
    li {
        font-family: 'Roboto', sans-serif;
        display: list-item;
        text-align: -webkit-match-parent;
    }
    ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }
    
    .header{
        position: fixed;
        top: 0;
        left: 0;
        background: #fff;
        box-shadow: 0 1px 27px rgba(0,0,0,.2);;
    }
    footer{
        background: #fff;
        box-shadow: 0 1px 27px rgba(0,0,0,.2);;
    }
    .container{
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .main-div{
        margin: 0% 0% 0% 0%;
        box-sizing: border-box;
        height: 1190px;
        width: 100%;
    }

    .section{
        padding: 40px 0;
    }
    
    .header-div{
        box-sizing: border-box;
    }
    .aminities-div{
        margin: 0%;
       width: 100%;
       padding-left: 15px;
       padding-right: 15px;
      
    }
    .header-div div h2{
        margin: 0 0 17px;
        font-size: 30px;
        /* color: #baa256; */
        font-weight: 800;
        font-family: 'Abhaya Libre', serif;
    }
    .aminities-p{
        position: relative;
        width: 100%;
        margin: 0%;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
    }
    
    .aminities-p p {
        font-size: 16px;
        line-height: 23px;
        color: #6f6f6f;
        font-style: italic !important;
        -webkit-font-smoothing: antialiased;
        font-family: 'Roboto', sans-serif;
        text-align: left;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .product-detail-div{
        background-image: url('ami-01.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    position: relative;
    }
    .overlay{
        position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    opacity: .6;
    background: #000;
    border: 2px solid #fff;
    opacity: .9;
    background: #fff;
    }
    .dinner-offering-h4{
        position: absolute;
        margin: auto;
        left:0;
        right: 0;
        top: 50%;
        opacity: 1;
        transform: translateY(-50%);
        color:#fff;
        text-align: center;
        font-size: 24px;
        line-height: 40px;
    }
    
    
}
